@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

.filter-wrapper {
  border: 1px solid #ddd;

  .filter-list {
    @include clearfix;
  }

  .filter-item {
    float: left;
    padding: 10px;

    @include clearfix;
  }

  .filter-item + .filter-item {
    border-left: 1px solid #ddd;
  }

  .filter-content {
    @include clearfix;
    height: 24px;
  }

  .filter-input {
    float: left;
    margin-right: 5px;
    height: 24px;
    line-height: 24px;

    input {
      width: 100px;
      outline: none;
    }

    input.filter-input-search {
      width: 200px;
    }
  }

  .filter-button {
    margin-left: 10px;
    float: left;
    height: 15px;
    line-height: 15px;
    padding: 5px 10px;
    font-size: 12px;
    color: #fff;
    background: red;
  }
}

.drug-wrapper {
  .drug-list {
    @include clearfix;

    margin: -10px;

    .drug-item {
      float: left;
      padding: 10px 0;
      margin: 10px;
      border: 1px solid #ddd;
      width: 230px;

      .drug-image-wrapper {
        .drug-image {
          margin: 0 auto;
          width: 180px;
          height: 180px;
          background: red;
        }

        .drug-image-list {
          margin-top: 10px;
          text-align: center;

          ul {
            @include clearfix;

            display: inline-block;
            margin: 0 -10px;
            font-size: 0;
          }

          li {
            float: left;
            margin: 0 10px;
            background: red;
          }

          img {
            width: 40px;
            height: 40px;
            border: 0;
          }
        }
      }

      .drug-name-wrapper {
        margin-top: 10px;
        text-align: center;

        .drug-name {
          font-size: 12px;
        }

        .drug-price {
          padding-top: 2px;
          font-size: 16px;
          font-weight: bold;
          color: #048bcd;
        }
      }
    }
  }
}
